.battle-total-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

.instructions-section {
  display: flex;
  column-gap: 200px;
}
.instructions-section div {
  text-align: center;
}
.instruction-titles {
  font-size: 30px;
}
.color-change {
  color: red;
}
.popular {
  color: rgb(132, 132, 132);
}
.Battle {
  color: rgb(128, 128, 128);
}
.users-icon {
  background-color: rgb(132, 130, 130);
  color: rgb(248, 137, 97);
  font-size: 150px;
  width: 250px;
}

.plane-icon {
  background-color: rgb(132, 130, 130);
  color: rgb(96, 96, 96);
  font-size: 150px;
  width: 250px;
}

.trophy-icon {
  background-color: rgb(132, 130, 130);
  color: rgb(255, 242, 0);
  font-size: 150px;
  width: 250px;
}

.compete-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.players-para {
  font-size: 30px;
}

.players-entry {
  display: flex;
  column-gap: 400px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.player-one {
  display: flex;
  column-gap: 5px;
}

.player-two {
  display: flex;
  column-gap: 5px;
}

.players-input {
  width: 300px;
  height: 30px;
}

.submit {
  background-color: rgb(136, 136, 136);
  position: relative;
  top: 26px;
  width: 80px;
  height: 35px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.player-found {
  margin-top: 20px;
  font-size: 20px;
  height: 50px;
  width: 310px;
  display: flex;
  background-color: rgb(202, 202, 202);
  align-items: center;
  column-gap: 20px;
  color: rgb(216, 53, 53);
  padding: 10px;
}

.alert-message {
  color: rgb(217, 83, 83);
  font-size: 20px;
}

.player1-found {
  width: 40px;
}
.player2-found {
  width: 40px;
}

.Battle-button {
  background-color: orange;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border-color: white;
  font-size: 20px;
  cursor: pointer;
}
