.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  column-gap: 45rem;
  font-size: 20px;
  font-weight: 500;
}

.routing-names {
  display: flex;
  column-gap: 20px;
  cursor: pointer;
}
.popular {
  color: rgb(196, 22, 22);
}
.light-icon {
  font-size: 30px;
  cursor: pointer;
}

.total-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 20px;
}
.language-buttons {
  width: 100px;
  height: 30px;
  background-color: white;
  border-color: white;
  cursor: pointer;
  font-size: 15px;
}
.data-fetching {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.loading-message {
  font-size: 25px;
}

.logos {
  height: 150px;
  width: 150px;
}
.cards-div {
  background-color: rgb(234, 234, 234);
  margin: 20px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: center;
}
.icons-person {
  color: rgb(186, 151, 55);
  padding-right: 10px;
  font-size: 20px;
}
.icons-stars {
  color: rgb(171, 186, 6);
  padding-right: 10px;
  font-size: 25px;
}
.icons-forks {
  color: rgb(5, 201, 255);
  padding-right: 10px;
  font-size: 25px;
}
.icons-warning {
  color: rgb(255, 188, 5);
  padding-right: 10px;
  font-size: 25px;
}
.heading {
  text-align: center;
}

.total-elements {
  padding: 10px;
}

.userName {
  color: rgb(196, 22, 22);
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.card-elements {
  display: flex;
}
