.result-component {
  text-align: center;
  background-color: rgb(210, 210, 210);

  width: 200px;
  padding: 20px;
  border-radius: 5px;
}
.result-pic {
  height: 100px;
  width: 100px;
}
.total-result-component {
  display: flex;
  justify-content: center;
  column-gap: 200px;
}
.final-result-heading {
  font-size: 30px;
  padding: 10px;
}
.icons-content {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding-left: 20px;
}
.score-para {
  font-weight: 700;
}
.person-icon {
  color: rgb(221, 156, 34);
  font-size: 20px;
}
.location-icon {
  color: blue;
  font-size: 20px;
}
.followers-icon {
  color: rgb(21, 198, 109);
  font-size: 20px;
}
.following-icon {
  color: rgb(137, 18, 137);
  font-size: 20px;
}
.repo-icon {
  color: blueviolet;
  font-size: 20px;
}
.result-name {
  color: red;
}
.reset-button {
  margin-top: 20px;
  height: 40px;
  width: 80px;
  margin-bottom: 30px;
  background-color: orange;
  border-radius: 5px;
  border-color: white;
  color: white;
  cursor: pointer;
}

.error-image {
  width: 500px;
  height: 500px;
}
.error-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.back-to-home {
  width: 100px;
  height: 40px;
  background-color: orange;
  border-radius: 5px;
  border-color: white;
  color: white;
  cursor: pointer;
}
